<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-top  padding-y">
            <div class="row">
                <aside class="col-md-4 col-12">
                    <article class="mr-md-4">
                        <h5 class="title">Контакты</h5>
                        <ul class="list-icon">
                            <li> <i class="icon fa fa-map-marker"> </i>404 Fake Street, Donetsk, DPR </li>
                            <li> <i class="icon fa fa-envelope"> </i> admin@donsem.com </li>
                            <li> <i class="icon fa fa-phone"> </i> (071) 311-0-311</li>
                            <li> <i class="icon fa fa-clock"> </i> Пн-Сб 09:00am - 06:00pm </li>
                        </ul>
                    </article>
                </aside>
                <aside class="col-md col-6">
                    <h5 class="title">Информация</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#">О нас</a></li>
                        <li> <a href="#">Карьера</a></li>
                        <li> <a href="#">Магазины</a></li>
                        <li> <a href="#">Правила</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h5 class="title">My Account</h5>
                    <ul class="list-unstyled">
                        <li> <a href="/account/settings"> Настройка аккаунта </a></li>
                        <li> <a href="/orders"> Мои заказы </a></li>
                        <li> <a href="/wishlist"> Избранное </a></li>
                    </ul>
                </aside>
                <aside class="col-md-4 col-12">
                    <h5 class="title">Рассылка</h5>
                    <p> Подпишитесь на нашу электронную рассылку сегодня, чтобы получать уведомления о специальных предложениях. </p>

                    <form class="form-inline mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email" />
                            <span class="input-group-append">
                                <button class="btn ml-2 btn-warning"> Подписаться </button>
                            </span>
                        </div>
                    </form>

                    <p class="text-black-50 mb-2">Мы в соцсетях</p>
                    <div>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-youtube"></i></a>
                    </div>

                </aside>
            </div>
        </section>

        <section class="footer-bottom border-top row">
            <div class="col-md-6">
                <p class="mb-0">
                    <a href="">Условия и положения</a> |
                    <a href="">Конфиденциальность</a> |
                    <a href="">Cookies</a>
                </p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="https://ProPWA.ru" target="_blank"><i class="fab fa-github"></i> ProPWA </a>
            </div>
        </section>
    </div>
</footer>