@page "/account/PhoneConfirmation"
@attribute [Authorize]

@if (ok == false)
{
    <LoadingScreen />
}
else
{
    <section class="section-content padding-y bg">

        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
            <article class="card-body">
                <header class="mb-4"><h4 class="card-title">Подтверждение номера телефона</h4></header>
                <EditForm Model="model" OnValidSubmit="SubmitAsync">

                    <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    @if(confirm)
                    {

                        <div class="form-row">
                            <p><span class="text-success">Ваш номер телефона уже подтвержден</span></p>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Закрыть </button>
                        </div>
                    }
                    else
                    {
                        <div class="form-row">
                            <p>При подтверждении номера телефона Вы получите дополнительную персональную <span class="text-success">скидку 5%</span></p>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <label>Введите 5 цифр из смс</label>
                            <InputNumber @bind-Value="model.PhoneConfirmation" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Отправить </button>
                        </div>
                    }

                </EditForm>
            </article>
        </div>

        <p class="text-center mt-4">Уже зарегистрированы? <a href="/account/login">Войти</a></p>
        <br /><br />

    </section>
}

