@page "/account/settings"
@attribute [Authorize]

@if (model == null )
{
    <LoadingScreen />
}
else
{
    <section class="section-content padding-y bg">
        <div class="container">

            <div class="row">

                <AccountSidebar />

                <main class="col-md-9">

                    <article class="card mb-3">
                        <div class="card-body">

                            <h4 class="card-title mb-4">Настройки профиля</h4>
                            <EditForm Model="model" OnValidSubmit="SubmitAsync">

                                <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">@phone</label>
                                    @*<div class="col-sm-6">
                                        <InputText @bind-Value="phone"  class="form-control-plaintext" readonly />
                                    </div>*@
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Имя</label>
                                    <div class="col-sm-6">
                                        <InputText @bind-Value="model.FirstName" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Фамилия</label>
                                    <div class="col-sm-6">
                                        <InputText @bind-Value="model.LastName" type="text" class="form-control" />
                                    </div>
                                </div>
                                @if (model.PhoneConfirmed)
                                {
                                    <div class="form-group">
                                        <p>При подтверждении номера телефона Вы получите дополнительную персональную <span class="text-success">скидку 5%</span></p>
                                        <p></p>
                                        <div class="form-group row">
                                            <label>Введите 5 цифр из смс</label>
                                            <div class="col-sm-6">
                                                <InputNumber @bind-Value="model.PhoneConfirmation" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Пароль подтверждения</label>
                                        <div class="col-sm-6">
                                            <InputNumber @bind-Value="model.PhoneConfirmation" class="form-control" />
                                        </div>
                                    </div>

                                }

                                <button class="btn btn-primary"> Сохранить </button>
                            </EditForm>

                        </div>
                    </article>

                </main>
            </div>

        </div>
    </section>
}
